{% extends 'home/base.html' %}
{% load staticfiles %}

    {% block title %}
    <title>Sell</title>
    {% endblock %}

    {% block body %}
    <header id="header" class="home-parallax home-fade dark-bg header-inner">
        <div class="color-overlay"></div>
        <div class="container">
            <h1>Sell</h1>
            <div class="breadcrumb">
                <a href="/">Buy</a> <i class="fa fa-angle-double-right"></i> <a href="/sell">Sell</a>
            </div>
        </div>
    </header>
    <!-- Sell -->
    <section id="team" class="section sell">
        Sell content here ...
    </section>
    <!-- Sell -->
    {% endblock %}
